.container {
    background-color: blueviolet;
    border: 4px dashed red;
}

.invalid-input {
    border: 6px solid rgb(0, 255, 208);
    background-color: yellow;
}

.input {
    height: 40px;
    background-color: cadetblue;
}